header {
  width: 1920px;
  height: 600px;
  background: red;
}

.content {
  margin: 0px auto 0px auto;
  width: 80%;
  height: 500px;
}
.content nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-top: 50px;
}
.content nav .nav__link {
  position: relative;
  text-decoration: none;
  width: 220px;
  height: 100px;
  font-size: 20px;
  text-align: center;
  color: #bfbfbf;
  border: 3px solid rgba(191, 191, 191, 0.2);
  border-radius: 20px;
  transition: 0.3s linear all;
}
.content nav .nav__link:hover {
  border-color: #fff;
  color: #fff;
}
.content nav .nav__link p {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.content nav .amstaff1 {
  grid-area: 2/2/3/3;
  display: block;
}
.content nav .amstaff2 {
  grid-area: 3/2/4/3;
  display: block;
}
.content nav .amstaff3 {
  grid-area: 4/2/5/3;
  display: block;
}
.content nav .ambully1 {
  grid-area: 2/3/3/4;
  display: block;
}
.content nav .ambully2 {
  grid-area: 3/3/4/4;
  display: block;
}
.content nav .ambully3 {
  grid-area: 4/3/5/4;
  display: block;
}
.content nav .french1 {
  grid-area: 2/4/3/5;
  display: block;
}
.content nav .french2 {
  grid-area: 3/4/4/5;
  display: block;
}
.content nav .french3 {
  grid-area: 4/4/5/5;
  display: block;
}

body {
  background-color: #0f0f0f;
}