footer{
    width: 100%;
    padding-top: 50px;
    background-color: #0a0a0a;
    height: 250px;
    .content-footer{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        div{
            display: inline-block;
            position: relative;
            width: 150px;
            height: 200px;
            &:hover::after{
                content: "";
                display: block;
                width: 70%;
                height: 3px;
                position: absolute;
                background-color: #fff;
                bottom: 50px;
            }
        }
    }
    
}