header {
  width: 100%;
  min-height: 100px;
  background: url('../imgs/banner.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 320px) {
  header {
    min-width: 320px;
    min-height: 100px;
  }
}

@media (min-width: 480px) {
  header {
    min-width: 480px;
    min-height: 150px;
  }
}

@media (min-width: 576px) {
  header {
    min-width: 576px;
    min-height: 180px;
  }
}

@media (min-width: 768px) {
  header {
    min-width: 768px;
    min-height: 240px;
  }
}

@media (min-width: 992px) {
  header {
    min-width: 992px;
    min-height: 310px;
  }
}

@media (min-width: 1024px) {
  header {
    min-width: 1024px;
    min-height: 320px;
  }
}

@media (min-width: 1200px) {
  header {
    min-width: 1200px;
    min-height: 375px;
  }
}

@media (min-width: 1440px) {
  header {
    min-width: 1440px;
    min-height: 450px;
  }
}

@media (min-width: 1920px) {
  header {
    min-width: 1920px;
    min-height: 600px;
  }
}
